<div class="pure-u-1-3">
  <h2>Stories</h2>
  <ul id="stories-list">
    {{#each}}
      <li>
        {{#link-to 'story' this}}{{title}}{{/link-to}}
        <button class="pure-button" {{ action 'delete' this }}>X</button>
      </li>
    {{/each}}
  </ul>
  <p>{{#link-to 'stories.new'}}Create a new Story{{/link-to}}</p>
</div>

<div class="pure-u-2-3">
  {{outlet}}
</div>

